body{
    background-color: rgb(30, 30, 30);
}

.road{
    width: 500px;
    height:100vh;
    margin:auto;
    position: relative;
    border-left: 7px solid white;
    border-right: 7px solid white;
}

.line{
    width:10px;
    height:100px;
    position: absolute;
    background-color: white;
    margin-left: 250px;
}

.rocket {
    width: 20px;
    height: 80px;
    background: #fff;
    border-radius: 50% 50% 0 0;
    position: absolute;
    bottom: 120px;
}

.rocket::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
}


