body{
    background-color: rgb(30, 30, 30);
}

.road{
    width: 500px;
    height:100vh;
    margin:auto;
    position: relative;
    border-left: 7px solid white;
    border-right: 7px solid white;
}

.car{
    width:50px;
    height:80px;
    background-color: white;
    position: absolute;
    bottom: 120px;
}

.line{
    width:10px;
    height:100px;
    position: absolute;
    background-color: white;
    margin-left: 250px;
}


.cloud {
    width: 100px;
    height: 50px;
    position: absolute;
    background: white;
    border-radius: 50px;
    position: relative;
}

.cloud::before,
.cloud::after {
    content: '';
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
}

.cloud::before {
    top: -20px;
    left: 10px;
}

.cloud::after {
    top: -10px;
    right: 10px;
}
