body{
    background-color: rgb(30, 30, 30);
}

.road{
    width: 500px;
    height:100vh;
    margin:auto;
    position: relative;
    border-left: 7px solid white;
    border-right: 7px solid white;
}

.car{
    width:50px;
    height:80px;
    background-color: white;
    position: absolute;
    bottom: 120px;
}

.line{
    width:10px;
    height:100px;
    position: absolute;
    background-color: white;
    margin-left: 250px;
}
